/*======================================*/


/*TIÊN + VIỆT: QUESTION*/

#contain-answers {
    position: absolute;
}

.eventable:hover .myRect {
    fill: #66FFFF;
    opacity: 0.6;
    cursor: pointer;
}

.myCircle {
    cursor: pointer;
}

.mySpanText:hover {
    cursor: pointer;
}

.mySvg:hover {
    cursor: pointer;
}

.mySpanText {
    pointer-events: none;
}

.myContainCircle {
    position: absolute;
}

.myGroupAnswerCircle {
    position: absolute;
}

.ui-tooltip {
    background-color: #151414fa;
    color: white;
    font-family: Arial, "Times New Roman";
}

.ui-tooltip-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -2px;
    border-width: 5px;
    border-style: solid;
    border-color: #151414fa transparent transparent transparent;
}

.ui-tooltip-content::before {
    bottom: -10px;
    border-width: 10px 10px 0;
}

.ui-tooltip-content::after {
    bottom: -7px;
    border-width: 10px 10px 0;
}

.myHoverToolTip:hover {
    cursor: pointer;
}

.answerDrag:hover {
    opacity: 0.6;
}

.myAnswerNum {
    font-size: 21px;
    font-family: Arial;
}

.myDropShape {
    cursor: pointer;
}

#submit-question {
    background: #47c447;
    font-size: 19px;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    left: 90%;
    top: 92%;
    position: absolute;
}

.inputFill {
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 0;
    border: none;
    outline: none;
}

.styleplaceholder ::placeholder {
    font-style: normal;
    color: black;
}

.message {
    bottom: -1%;
    width: 100%;
    height: 50px;
    position: absolute;
    font-size: 25px;
    text-align: center;
    color: white;
    line-height: 50px;
    font-family: Arial;
}

.closeMessage {
    position: absolute;
    right: 1%;
    font-family: Arial;
    font-size: 39px;
    color: white;
    cursor: pointer;
}



/* Begin Number */


/* Câu hỏi tương tác - Numberic Question */

[class*='icon-'] {
    font-style: normal;
    display: inline-block;
}

.error-icon {
    position: absolute;
    top: 5px;
    left: calc(50% - 32px);
    height: 30px;
    width: 25px;
    z-index: 999;
}

input,
textarea {
    pointer-events: all;
}

input:focus,
textarea:focus {
    outline: none
}

.slide-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.slide-object {
    position: absolute !important;
    /*pointer-events: none*/
}

.slide-object input,
.slide-object textarea {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    border: none;
    border-radius: 0
}

.slide-object:focus {
    outline: none
}

.slide-object-image {
    pointer-events: auto
}

.slide-object svg {
    position: relative;
    display: block;
    overflow: visible;
    /*pointer-events: none*/
}

.slide-object g.eventable {
    pointer-events: visiblePainted;
}

.slide-object g.uneventable {
    /*pointer-events: none;*/
}

.slide-object use {
    /*pointer-events: none;*/
}

.text-input {
    box-sizing: border-box;
}

.drop-list {
    position: absolute;
}



/*.drop-list svg {
    cursor: pointer;
}*/

.drop-list-drop-down {
    position: absolute;
    top: 0;
    left: 0;
    border-width: 1px;
    border-style: solid;
    background: white;
    overflow: hidden;
    outline-color: none !important;
}

.drop-list-top-container {
    position: absolute;
    top: 0;
    left: 0;
}

#app-top-container,
#app-top-overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: all;
}

.drop-list-drop-down-inner {
    height: 100%;
}

.yellow {
    background-color: yellow;
}

.hidden {
    display: none !important;
}

.scrollarea-background svg {
    position: absolute;
    top: 0;
    left: 0;
}

.slide-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.slide-object text {
    text-rendering: geometricPrecision;
    font-feature-settings: 'liga';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: normal
}


/* End Number */

#time {
    position: absolute;
    pointer-events: none;
    width: auto;
    min-width: 70px;
    height: 30px;
    right: 1%;
    top: 3%;
    font-size: 20px;
    font-family: Arial;
}

.feedBackUpdateZIndex {
    position: relative;
    top: -670px;
    z-index: 100;
}

.answerContainer {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0px;
    top: 0px;
}
.text{
    pointer-events: none;
}