/* General*/

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-size: 11px;
    height: 100vh;
    font-family: Roboto, Arial, sans-serif;
    background: #303941;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    outline: none;
    text-transform: none;
    cursor: pointer;
    padding: 0;
    background: none;
}

/* Resume Content */

#resumeContentWrapper {
    justify-content: center;
    display: none;
    align-items: center;
    position: absolute;
}

#resumeContent>* {
    color: #2E6395;
}

#resumeLine {
    width: 100%;
    height: 3px;
    display: flex;
    z-index: 0;
    justify-content: center;
}

#resumeLine path {
    fill: #87C3FD;
}

#resumeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #24589B;
    background: #fff;
}

.resumeText {
    position: absolute;
}

#resumeHeader {
    width: 90%;
    height: 51px;
    display: flex;
    align-items: center;
    font-size: 130%;
    font-weight: bold;
}

#resumeTitle {
    font-size: 170%;
    width: 540px;
    align-items: center;
    display: flex;
    height: 95px;
}

#resumeControlBtnWrapper {
    width: 345px;
    height: 30px;
    z-index: 0;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.resumeControlBtn {
    background: #87C3FD;
    height: 100%;
    width: 150px;
    border-radius: 4px;
    color: #2E6395;
    font-weight: bold;
}

/*=========*/

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

/*=======*/

/*header*/

#headerTitle {
    font-size: 130%;
    font-weight: 500;
    /* exactly three lines */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*=========*/

#mainContentWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#mainContent {
    position: relative;
    flex: 1;
}

#container {
    overflow: hidden;
    height: 576px;
    width: 1024px;
    position: absolute;
    transform-origin: 0 0 0;
    background: white;
}

#content {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #1D2F3F;
}

/*=============*/

/*Bottom Panel*/

#controlPanel {
    background: #87C3FD;
    height: 44px;
    display: flex;
}

#prevControlBtn {
    order: 1;
}

#controlSliderBtn {
    order: 2;
}

#nextControlBtn {
    order: 3;
}

/* Volume */

#volumeWrapper {
    order: 4;
}

#volumeControlBtn {
    width: 100%;
    height: 100%;
}

.volumeControlSelected {
    display: flex !important;
}

.volumeBtnSelected>svg {
    fill: #24589B !important;
}

#wrapperControlVolumeSound {
    width: 28px;
    height: 73px;
    background: #87C3FD;
    position: absolute;
    display: none;
    bottom: 113%;
    left: 13%;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 1px 4px;
    flex-direction: column;
}

#controlVolumeSound {
    background: #fff;
    width: 3px;
    height: 45px;
    border-radius: 3px;
    position: relative;
}

#controlVolume {
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: -3px;
}

#progressVolume {
    background: #000;
    height: 50%;
}

svg#volume,
svg#mute {
    width: 10px;
    height: 10px;
}

/* ============== */

/*Slider*/

#sliderControl {
    order: 5;
    flex: 1;
    flex-direction: row;
    display: flex;
}

#sliderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#timeSlider {
    display: inline-flex;
    font-size: 110%;
    justify-content: center;
    align-items: center;
    flex-basis: 75px;
}

/*=======*/

#restartControlBtn {
    order: 6;
}

#fullScreenControlBtn {
    order: 7;
}

/* Setting */

#settingControlBtn {
    order: 8;
}

#settingContentWrapper {
    background: #87C3FD;
    width: 236px;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    right: 10px;
}

#settingContent {
    padding: 6px;
    display: flex;
    width: 100%;
    color: #D6ECFF;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px #000;
    flex-direction:  column;
}

.setting {
    font-size: 120%;
    height: 33px;
    cursor: pointer;
    display:  flex;
    align-items: center;
    justify-content: space-between;
}

.setting:hover {
    background: #24589B;
}

.settingTitle,
.settingToggle {
    padding: 0 15px;
}

.settingToggle {
    position: relative;
}

/*Toggle */

/*Caption*/

.wrapperControlBtnCaption {
    position: absolute;
    bottom: 3.75%;
    left: 42.25%;
}

.lbl {
    border-radius: 14px;
    height: 14px;
    float: right;
    position: relative;
    background: #D6ECFF;
    width: 36px;
    cursor: pointer;
    transition: all 0.3s linear;
    border: 1px solid #BEBEBF;
}

.lbl:after {
    position: absolute;
    display: block;
    width: 17px;
    left: -1px;
    top: -3px;
    height: 17px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    content: '';
    transition: all 0.3s ease;
    border: 1px solid #BEBEBF;
}

.lbl:active:after {
    transform: scale(1.15, 0.85);
}

.checkbox:checked~label {
    background: #24589B;
}

.checkbox:checked~label:after {
    left: 50%;
}

.checkbox:disabled~label {
    background: #d5d5d5;
    pointer-events: none;
}

.checkbox:disabled~label:after {
    background: #bcbdbc;
}

/* ======= */

/* ========== */

.controlBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    flex-basis: 36px;
}

.controlBtn>svg {
    width: 16px;
    height: 16px;
    fill: #163C61;
}

.controlBtn:hover>svg {
    fill: #24589B;
}

#slider {
    width: 100%;
    background: #29353F;
    height: 5px;
    border-radius: 4px !important;
    margin: 0 10px;
    flex: 1;
}

#progress {
    background: #2E6395;
    height: 5px;
    width: 0;
    border-radius: 4px !important;
}

span.ui-slider-handle.ui-state-default.ui-corner-all.margin-left-auto {
    left: 0;
    background: white;
    line-height: 18px;
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    outline: none;
}

/*==============*/

/*Side bar*/

#sidePanel {
    background: #87C3FD;
    overflow: hidden;
    flex-basis: 235px;
    flex-direction: column;
    display: flex;
}

/*Info*/

#mainHeader {
    background: transparent;
    display: flex;
    padding-left: 12px;
    align-items: center;
    height: 60px;
    width: 100%;
}

#userImgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#docTitle {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    color: #D6ECFF;
    flex: 1;
}

#userImg {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 1px solid #434B57;
}

/*=======*/

#layout {
    overflow: hidden;
    height: 100%;
    display: flex;
    width: 100%;
}

.layoutSection {
    display: flex;
    flex-basis: 35px;
    flex-direction: column;
    height: 100%;
    flex: 1;
    overflow: hidden;
}

#sideTab {
    background: #87C3FD;
    display: flex;
    box-shadow: 2px 2px 2px;
    flex-basis: 35px;
}

#sideTab li>svg {
    width: 16px;
    height: 16px;
    fill: #434B57;
}

#sideTab>li {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    flex: 1;
}

.tabs li::before {
    content: "";
    height: 5%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background: #24589B;
    transition: width .25s;
}

.tabs li:hover::before,
.tabSelected::before {
    width: 100% !important;
}

/*=============*/

/*Order class*/

.order1 {
    order: 1;
}

.order2 {
    order: 2;
}

.order3 {
    order: 3;
}

.order4 {
    order: 4;
}

/*============*/

/*Content Tab*/

#menu,
#resource,
#glossary,
#note {
    display: none;
    height: 100%;
}

/* ========== */

/* Scroll Bar */

#menuListContent {
    position: relative;
    overflow: hidden;
    user-select: none;
    flex: 1;
}

#menuListContent:hover>#menuScrollWrapper,
#resourceContent:hover>#resourceScrollWrapper,
#glossaryTermWrapper:hover>#tWrapper>#termScrollWrapper,
#glossaryDefinitionWrapper:hover>#dWrapper>#definitionScrollWrapper,
#noteWrapper:hover>#noteScrollWrapper {
    opacity: 1 !important;
}

#menuScrollWrapper,
#resourceScrollWrapper,
#termScrollWrapper,
#definitionScrollWrapper,
#noteScrollWrapper {
    position: absolute;
    top: 0px;
    right: 0;
    width: 16px;
    opacity: 0;
    transition: opacity 1s linear;
    height: 100%;
}

#menuScrollBar,
#resourceScrollBar,
#termScrollBar,
#definitionScrollBar,
#noteScrollBar {
    width: 6px;
    border-radius: 4px;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    left: 8px;
    opacity: 0.5;
}

/*============*/

/*Menu*/

#mainContentSidebar {
    overflow: hidden;
    padding: 7px 7px 10px 7px;
    height: 100%;
    flex: 1;
}

#contentSidebar {
    height: 100%;
    overflow: hidden;
}

#menuWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#menuContentWrapper {
    overflow: hidden;
    position: relative;
}

.imgMenuWrapper {
    height: 40px;
    width: 70px;
    background: #fff;
}

.imgMenu {
    background-repeat: no-repeat;
    height: 100%;
    background-size: 100% 100%;
}

.infoMenuWrapper {
    color: #D6ECFF;
    margin-left: 5px;
}

.infoMenu {
    max-width: 137px;
    overflow: hidden;
    max-height: 40px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

li.menuList {
    display: flex;
    padding: 4px;
    cursor: pointer;
}

.menuSelected {
    background: #24589B;
}

.menuSelected:hover {
    background: #24589B !important;
}

.menuSelected:hover>.infoMenuWrapper {
    color: #D6ECFF !important;
}

.menuList:hover {
    background: #D6ECFF;
}

.menuList:hover>.infoMenuWrapper {
    color: #24589B;
}

#menuSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-basis: 44px;
}

input#menuSearchInput {
    border: none;
    padding: 7px;
    width: 100%;
    background: #fff;
}

input::placeholder {
    font-style: italic;
    color: #000;
}

#clearSearch {
    position: absolute;
    right: 7px;
}

#clearSearch>svg {
    width: 10px;
    height: 10px;
    fill: #163C61;
}

/*========*/

/*Resource*/

#tWrapper,
#dWrapper,
#resourceContent {
    position: relative;
}

a.links {
    display: flex;
    font-size: 120%;
    text-decoration: none;
    color: #000;
    padding: 4px;
}

a.links:hover {
    text-decoration: underline;
}

#resourceTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#resourceDescription {
    font-size: 110%;
    color: #D6ECFF;
}

/*=========*/

/*Glossary*/

#glossaryTermWrapper {
    position: relative;
    background: transparent;
    flex: 1;
    overflow:  hidden;
}

#glossaryDefinitionWrapper {
    position: relative;
    background: transparent;
    flex: 1;
    overflow:  hidden;
    box-shadow: 0px 0px 3px;
}

#glossaryWrapper {
    height: 100%;
}

#glossaryContentWrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
}

#glossaryTermWrapper>span>.glossaryTitle {
    text-align: center;
}

.glossaryTitle {
    font-size: 120%;
    font-weight: 500;
    display:  flex;
    justify-content:  center;
    text-decoration:  underline;
}

.termContent,
.defContent {
    cursor: pointer;
    padding: 4px;
}

li.termContent:hover,
.termSelected {
    text-decoration: underline;
}

.term,
#definition {
    font-size: 110%;
}

.defSelected {
    background: #24589B;
    box-shadow: 2px 2px 3px #000;
    color:  white;
    transition: all .3s;
}

/*===========*/

/*Note*/

#noteWrapper {
    height: 100%;
    position: relative;
}

.noteContent {
    margin: 0;
    user-select: none;
}

/*===========*/

/*Class Added*/

.contentSidebarSelected {
    display: block !important;
}

.settingBtnSelected>svg {
    transform: rotate(18deg);
    fill: #24589B;
}

.stretch-fill {
    width: 100%;
    height: 100%;
}

/*============*/

/*Submit Button*/

#submitControlBtn {
    background: #87C3FD;
    height: 36px;
    width: 100px;
    color: #163C61;
    border-radius: 0.5vh;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submitControlBtn>button {
    font-weight: bold;
    padding: 0;
}

#submitControlBtn:hover> button,
#submitControlBtn:hover {
    color: #fff;
    opacity: 0.75;
}

/* Question */

.hoverDropDown {
    fill: #87C3FD;
}

/* Reference Text */

.db-strTh {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 35%;
}

.db-udl {
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    bottom: 5%;
}

.strTh {
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
}

.udl {
    position: absolute;
    left: 0;
    right: 0;
    top: 85%;
}

/* Hyperlink */

.hyp {
    user-select: none;
}

.hyp>text>a>tspan {
    cursor: pointer !important;
}