/* Add cursor pointer in triggerEvent */
.cursorPoint:hover {
    cursor: pointer;
}

/* ============ BEGIN Modal ================= */
/* The Modal (background) */
#modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

#myModal {
    position: absolute;
    width: 1024px !important;
    height: 579px !important;
    left: 50%;
    top: 45%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 4px solid #87C3FD;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
    z-index: 5;
}

#myModal #content {
    overflow: hidden;
    background: #fff;
}


/* The Close Button */

.close {
    position: absolute;
    background: #FF0000;
    color: #fff;
    float: right;
    font-size: 16px;
    font-weight: bold;
    top: -8px;
    right: -8px;
    border-radius: 20px;
    padding: 0 5px;
    border: 1px solid transparent;
}

.close:hover,
.close:focus {
    color: #FF0000;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s all;
    border: 1px solid #FF0000;
    background: #fff;
}

.navigation-control {
    /* background: #DADADA; */
    background: linear-gradient(180deg, rgba(233, 233, 233, 1) 0%, rgba(207, 207, 207, 1) 100%);
    position: absolute;
    bottom: -58px;
    width: 100%;
    height: 10%;
    border: 4px solid #87C3FD;
    display: none;
    align-items: center;
    justify-content: flex-end;
    display: none;
    border-top: none;
    left: -4px;
}

button.btn {
    display: inline-block;
    padding: 6px 15px;
    color: #000;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(199, 199, 199, 1) 100%);
    box-shadow: 0 1px 0 rgba(207, 207, 207, 1);
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 0 5px;
}

button.btn:hover {
    color: #87C3FD;
    background: #fff;
    border: 1px solid #87C3FD;
    transition: all 0.4s;
}
/* ============ END Modal ============== */