/*VIỆT: VIDEO CSS*/
div.myControl {
    border: 1px solid #C3C3C3;
    border-radius: 4px;
    height: 36px;
    position: absolute;
    display: inline-flex;
    background: white;
    margin-top: 3px;
}
div.myProgressBar {
    border-radius: 2px;
    background-color: #D4D4D4;
    height: 28px;
    margin-top: 3px;
    cursor: pointer;
}
span.myTime {
    vertical-align: top;
    margin-top: 10px;
    margin-right: 8.5px;
    margin-left: 8.5px;
    font-size: 12px;
    color: #acaaaa;
    font-family: "Segoe UI";
    font-weight: 500;
    width: 56px;
}
div.myPlay {
    height: 30px;
    width: 30px;
    margin: 3px;
    cursor: pointer;
}
div.myActionProgressBar {
    width: 0%;
    height: 100%;
    border-radius: 2px;
    background-color: #acaaaa;
}
svg.myIcon {
    margin: 4px;
    width: 20px;
    height: 20px;
}

div#caption {
    pointer-events: none;
    position: absolute;
    z-index: 10;
    bottom: 3%;
    left: 5%;
    right: 5%;
    text-align: center;
    visibility: hidden;
    display: none;
}

p.myCaption {
    color: #ffffff;
    text-align: center;
    background: #000000;
    border-radius: 4px;
    visibility: hidden;
    display: table;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px;
}
.notifiVideo {
    position: absolute;
    bottom: -1%;
    width: 100%;
    height: 50px;
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
    line-height: 50px;
    background: #be3a3a;
    display: flex;
    color: black;
}
 
.turnOnVideo {
    margin: 0px 4px 0px 4px;
    cursor: pointer;
    text-decoration: underline;
}
 
.turnOnVideo :hover {
    color: white;
}
video.myVideo {
    transform-origin: 0px 0px;
    margin-right: auto;
    margin-bottom: auto;
}